{{!< default}}


<header class="blog-header">
	<div class="inner">
		<div class="archive archive-tag box archive-box">
			<span class="archive-info">
				<span class="archive-type">{{t "Topic"}}</span>
				<span class="archive-count">{{plural pagination.total empty=(t "No Posts") singular=(t "% Post") plural=(t "% Posts")}}</span>
			</span>
			<h2 class="archive-title">{{tag.name}}</h2>
			{{#if tag.description}}
				<span class="archive-description">{{{tag.description}}}</span>
			{{/if}}
		</div>
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
